{% extends "base.html" %}
{% block content %}
    <h2>Bienvenido {{ usuario }} (Rol: {{ role_display[rol] }})</h2>

    {% if my_company %}
        <p style="text-align:center;">
            Ver mi perfil:
            <a href="{{ url_for('detalle', company_id=my_company.id) }}">{{ my_company.name }}</a>
        </p>
    {% endif %}

    <ul>
        {% if can_sell %}
            <li><a href="{{ url_for('acceso', tipo='ventas') }}">Acceder a Ventas</a></li>
        {% endif %}
        {% if can_buy %}
            <li><a href="{{ url_for('acceso', tipo='compras') }}">Acceder a Compras</a></li>
        {% endif %}
        <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
    </ul>
{% endblock %}
