{% extends "base.html" %}
{% block content %}
<h2>Crear nueva cuenta</h2>
{% if error %}<p class="error">{{ error }}</p>{% endif %}

<form method="POST" action="{{ url_for('register') }}">
    <label>Usuario (login):</label>
    <input type="text" name="usuario" required>

    <label>Contraseña:</label>
    <input type="password" name="password" required>

    <label>Rol:</label>
    <select name="rol" required>
        <option value="Productor">Productor</option>
        <option value="Planta">Planta</option>
        <option value="Packing">Packing</option>
        <option value="Frigorífico">Frigorífico</option>
        <option value="Exportador">Exportador</option>
        <option value="Cliente extranjero">Cliente extranjero</option>
        <option value="Transporte">Transporte</option>
        <option value="Agencia de aduana">Agencia de aduana</option>
        <option value="Extraportuario">Extraportuario</option>
    </select>

    <button type="submit">Crear cuenta</button>
</form>
{% endblock %}
